@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: bold;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 0.5rem -0.5rem gray;
  --webkit-box-shadow: 0 0.5rem 0.5rem -0.5rem !important;
}
.nav-link {
  font-weight: 300;
}
.active {
  border-bottom: 1px solid black;
}
